.Rhistory
.ipynb_checkpoints/
0rejpen_0int_human.tsv
0rejpen_human.tsv
1rejpen_human.tsv
2rejpen_human.tsv
Genome_A_no_read_until.png
Genome_A_read_until.png
Genome_B_no_read_until.png
Genome_B_read_until.png
Pre_Git/
Raw_Data/
Results/
Sandpit/
Untitled.ipynb
__pycache__/
idLag_experiment.sh
input_human_genome_1pc
input_human_genome_chr_01_30x
input_human_genome_chr_01_30x_results
input_human_genome_chr_21_30x_results
input_human_genome_results
input_human_genome_results_no_scale
input_human_genome_small
input_human_genome_small_results
input_human_milk
input_human_milk_plan
input_human_milk_results
input_low_complexity_metagenome
input_low_complexity_metagenome_results
input_original_results
run_logs.txt
test.ipynb
test.png
test1.png
test_out
test_out1
